<div id='t1' class='fade-animate mvl text-center hide toggle t1'>
  <h3>
    Nothing here yet. Come back soon.
  </h3>
</div>
<div class="onoffswitch">
  <input data-toggle-class='hide' data-target='t1' class='toggle onoffswitch-checkbox' type="checkbox" name="onoffswitch-instrument" id="myonoffswitch-1" checked>
  <label class="onoffswitch-label" for="myonoffswitch-1">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
  </label>
</div>
<div class='flash-messages'>

</div>
<div class='full-width text-center mtl'>
  <h3> Channel <%= @channel.name %> </h3>
</div>
<%= render partial: 'partials/orig_synth' %>
<%= render partial: 'partials/templates/alert_templates' %>