<script type='x/moustache' class='hide alert-info-template'>
  <div class='alert alert-info fade in'>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </div>
</script>
<script type='x/moustache' class='hide alert-danger-template'>
  <div class='alert alert-danger fade in'>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </div>
</script>