// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
}

label {
  font-family: 'Roboto', sans-serif;
}

.no-padding {
  padding: 0 !important;
}

input[type=number].synth-field {
  font-size: 12px !important;
  margin-left: -58px !important;
}