/*----------------------------
  knobKnob Styles
-----------------------------*/

.knob{
  position:relative;
  margin: auto;
}

.knob .top{
  position:absolute;
  top:0;
  left:0;
  background: asset-url('knob.png') no-repeat;
  z-index:10;
  cursor:default !important;
}

.knob .base{
  border-radius:50%;
  box-shadow:0 3px 0 #4a5056,3px 3px 3px #000;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

@media screen and (min-width: 480px) {
  .knob, .knob .top, .knob .base{
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
  .knob .top:after{
    content:'';
    width:10px;
    height:10px;
    left: 4px;
  }
}
@media screen and (max-width: 480px) {
  .knob, .knob .top, .knob .base{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }

  .knob .top:after{
    content:'';
    width:5px;
    height:5px;
    left: 1px;
  }
}

.knob .top:after{
  content:'';
  background-color:#666;
  position:absolute;
  top:50%;
  margin-top:-5px;
  border-radius: 50%;
  cursor:default !important;
  box-shadow: 0 0 1px #5a5a5a inset;
}

.knob [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}