// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #34495e;
$fontColor: #535456;
$red: #B12617;
$silver: #ecf0f1;
$blue: #2980b9;
$gray: #95a5a6;

body {
  font-family: 'Roboto', sans-serif;
}

label {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0; 
  color: $fontColor;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  line-height: 38px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  color: $fontColor;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

a {
  color: $primary !important;
}

.no-padding {
  padding: 0 !important;
}

.margin-auto { margin: auto !important; }
.fade-animate {
  animation: taufik 1s;
}

input[type=number].synth-field {
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

select {
  font-size: 20px;
  font-weight: bold;
  color: #bdc3c7;
  border: 1px solid #eee;
}
.pvsm {
  padding-top: 7px;
  padding-bottom: 7px;
}
.pvmd {
  padding-top: 14px;
  padding-bottom: 14px;
}
.pbmd { padding-bottom: 14px; }
.pbl, .pblg { padding-bottom: 21px; }
.pvlg {
  padding-top: 21px;
  padding-bottom: 21px;
}
.mtsm { margin-top: 7px; }
.mtmd { margin-top: 14px; }

.mvxs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mvsm {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mvmd {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mhmd {
  margin-left: 14px;
  margin-right: 14px;
}

.mhsm {
  margin-left: 7px;
  margin-right: 7px;
}

.mhxs {
  margin-left: 4px;
  margin-right: 4px;
}

.mhxxs {
  margin-left: 2px;
  margin-right: 2px;
}

.mlsm { margin-left: 7px; }
.mlxs { margin-left: 4px; }

.mhl {
  margin-left: 21px;
  margin-right: 21px;
}

.mhl {
  margin-left: 21px;
  margin-right: 21px;
}

.mll {
  margin-left: 21px;
}

.mrl {
  margin-left: 21px;
}

.mlmd {
  margin-left: 14px;
}

.mrmd {
  margin-right: 14px;
}

.mtl { margin-top: 21px; }
.mtxl { margin-top: 56px; }

.mvlg, .mvl {
  margin-top: 21px;
  margin-bottom: 21px;
}

.mvxl {
  margin-top: 56px;
  margin-bottom: 56px;
}

.mtlg { margin-top: 21px; }
.text-center { text-align: center; }
.recordings-container {}

input[type=number].synth-field {

}

.block {
  display: block;
}


.full-width {
    width: 100%;
}

.template {
    display: none;
}

.btn:hover, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  background-color: #2980b9 !important;
  color: $silver !important;
}

button.btn, .btn {
  background-color: $primary !important;
  color: $silver !important;
  border: none !important;
  transition: .25s all;
  -webkit-transition: .25s all;
}

.btn.js-record-action {
  padding: 6px 7px;  
}

.border {
  border: 1px solid #eee;
}

.border-bottom {
  border-bottom: 1px solid #eee;  
}

.bare-borders {
  border-top: none !important;
  border-bottom: 1px solid #eee !important;
  border-right: none !important;
  border-left: none !important;
}

.white {
  background-color: white !important;
}

.height-auto {
  height: auto;
  overflow: hidden;
}

.gray {
  background-color: #aaa;
}

.gray-text {
  color: #34495e;
}

.white-text, .white-text a {
  color: white !important;
}

.red {
    background-color: #FF1744 !important;
}

.red:hover {
    background-color: #FF5252 !important;
}

.red-text {
    color: #FF1744 !important;
}

.red-text:hover {
    color: #FF5252 !important;
}

.lrg-font {
    font-size: 28px;
}

.med-font {
    font-size: 14px;
}

.small-font {
    font-size: 12px;
}

.spaceMonkey {
  opacity: 0;
}

.nav.navbar-nav {
  li {
    height: 50px;
  }
}

.navbar.navbar-default {
  background-color: $primary;
  a.navbar-brand, li a { color: $silver !important; }
}

.form-control {
  height: 40px;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: none;
}

.modal {
  padding: 15px;
}

.new-channel-modal {
  .modal-dialog {
    float: none;
    width: 30%;
    margin: 0 35%;
  }
}

a, a:visited, a:focus {
  color: #2980b9;
  text-decoration: none !important;
}

.sm { font-size: 7px !important; }
.med { font-size: 14px !important; }
.big { font-size: 21px !important; }
.bold { font-weight: bold; }
.login-btn {
  background-color: $blue !important;  
}

.transition {
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.edit-btn, .delete-btn {
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  opacity: 0.75;
  transition: 0.5s all;
  border: none;
  -webkit-transition: 0.5s all;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.edit-btn, .edit-btn:hover {
  color: $silver !important;
  background-color: #16a085 !important;
}

.delete-btn, .delete-btn:hover {
  color: $silver !important; 
  background-color: $red !important;
}

.record-btn {
  background-color: white !important;
  border: 1px solid red !important;

  &:hover {
    background-color: red !important;
    color: white !important;
  }
}

.add-channel-btn {
  background-color: $blue !important;
}

.recording-track {
  border: 1px solid #eee;
}

.clip-container, .channel-container {
  a:hover {
    color: $primary !important;
  }
}

.clip-container {
  background-color: $gray !important;

  &:hover {
    background-color: #bdc3c7 !important;
  }
}

.channel-container {
  height: 150px;
  padding: 25% 20px;
  background: #2980b9;
  color: white;
  border-radius: 5px;
}

.channel-container:hover {
  background: #83BADE;
}

.panel {
  background: none !important;
}

.fixed {
  position: fixed;
  left: 0px;
}

.bottom {
  bottom: 0px;  
}

.height-auto {
  overflow: auto;
}

.t2::before {
  background-image: url(http://bgfons.com/upload/wood%20_texture3173.jpg);
  opacity: 0.65;
  position: absolute;
  width: 100%;
  height: 105px;
  top: 0px;
  left: 0px;
}